<% if @recommended.present? %>
  <h2 class="text-center text-2xl my-2 text-white">Recommended Movies</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-3">
    <% @recommended.each do |movie| %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <img class="w-full" src="https://image.tmdb.org/t/p/w500<%= movie['poster_path'] %>" alt=<% movie['title'] %> >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= movie['title'] %></div>
          <div class="font-medium">
            <%= movie['release_date'] %>
          </div>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Show", movie_path(movie['id']) %></span>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center my-2">No recommended movies found for this movie</p>
<% end %>